# Variables

In [1]:
# Create a variable named x and assign it the value 5
x = 5

# Print the value of x
print(x)
print(id(x))

5
3151005483376

In [2]:
x = 10
print(x)
print(id(x))

10
3151005483536

In [3]:
y = 5
print(y)
print(id(y))

5
3151005483376

In [4]:
# Create a variable named y and assign it the value "John"
y = "John"

# Print the value of y
print(y)

John

In [5]:
# Change the value of x to 10
x = 10

# Print the new value of x
print(x)

10

In [6]:
x = 10
y = x

print(id(x),id(y))
print(id(x) == id(y))

3151005483536 3151005483536
True

In [7]:
x += 1

print(id(x),id(y))
print(id(x) == id(y))

3151005483568 3151005483536
False

exercises to practice variables:

In [8]:
# Create a variable named name and assign it your name as a string. Then print the variable.
name = "Bob"
print(name)

Bob

In [9]:
# Create two variables named a and b and assign them the values 10 and 20 respectively. 
# Then swap their values and print them.
a = 10
b = 20
# One way to swap the values is to use a temporary variable
temp = a
a = b
b = temp
# Another way to swap the values is to use multiple assignment
# a, b = b, a
print(a, b)

20 10

In [10]:
# Create a variable named pi and assign it the value 3.14. 
# Then use the variable to calculate the area of a circle with radius 5 and print the result.
pi = 3.14
radius = 5
area = pi * radius ** 2
print(area)

78.5

In [11]:
# Create a variable named greeting and assign it the value "Hello". 
# Then use the variable to create a personalized message for someone named "Alice" and print the message.
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
# Alternatively, you can use string formatting to create the message
# message = f"{greeting}, {name}!"
print(message)

Hello, Alice!


# Python Keywords: The Words You Can't Use

In [12]:
# Bad idea: using True as a variable name
True = 42

SyntaxError: cannot assign to True (736176461.py, line 2)

In [14]:
# Logical operators
a = True
b = False
c = a and b # False
d = a or b # True
e = not a # False
print(c,d,e)
# Membership operators
x = 10
y = [1, 2, 3]
z = x in y # False
print(z)
w = x is y # False
print(w)

False True False
False
False

In [15]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are not allowed to vote")
elif age == 18:
    print("You can vote for the first time")
else:
    print("You can vote")

Enter your age: 12
You are not allowed to vote

In [16]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are not allowed to vote")
elif age == 18:
    print("You can vote for the first time")
else:
    print("You can vote")

Enter your age: 18
You can vote for the first time

In [17]:
age = int(input("Enter your age: "))
if age < 18:
    print("You are not allowed to vote")
elif age == 18:
    print("You can vote for the first time")
else:
    print("You can vote")

Enter your age: 32
You can vote

In [18]:
# For loop with break and else
for i in range(10):
    print(i, end='|')    
else:
    print("The loop ended normally") # This will not execute because of break

0|1|2|3|4|5|6|7|8|9|The loop ended normally

In [19]:
# For loop with break and else
for i in range(10):
    print(i,end='|')
    if i == 5:
        break # Exit the loop when i is 5
else:
    print("The loop ended normally") # This will not execute because of break

0|1|2|3|4|5|

In [20]:
# While loop with continue and else
j = 0
while j < 10:
    j += 1
    if j % 2 == 0:
        continue # Skip even numbers
    print(j)
else:
    print("The loop ended normally") # This will execute because there is no break

1
3
5
7
9
The loop ended normally

In [21]:
# Bad idea: using for as a variable name
for = "For whom?" # SyntaxError: invalid syntax

SyntaxError: invalid syntax (1206508069.py, line 2)

In [22]:
# Defining a function with def keyword 
def greet(name):
    return f"Hello {name}!"

greet("Micky")

'Hello Micky!'

In [23]:
# Bad idea: using def as a variable name 
def = "Define"

SyntaxError: invalid syntax (3557425053.py, line 2)

# Data Type Concept

In [59]:
x = 5

In [60]:
print(type(x))

<class 'int'>

In [61]:
y = "Hello"

In [62]:
print(type(y))

<class 'str'>

In [63]:
x = str(5)

In [64]:
print(type(x))

<class 'str'>

In [65]:
y = int(10)

In [66]:
print(type(y))

<class 'int'>

In [67]:
x = "3.14"# X is a str object
y = float(x) # y is a float object with the value 3.14
z = int(y) # z is an int object with the value 3
print(type(x))
print(x)
print(type(y))
print(y)
print(type(z))
print(z)

<class 'str'>
3.14
<class 'float'>
3.14
<class 'int'>
3

In [68]:
x ="happy" # x is a str object
y = float(x) # y is a float object

ValueError: could not convert string to float: 'happy'

In [116]:
# Create a List of numbers
numbers = [1, 2, 3]
# Print the list
print(numbers) # [1， 2， 3]
# Append a new element to the list
numbers.append(4)
# Print the list again
print(numbers) # [1， 2， 3，4]

[1, 2, 3]
[1, 2, 3, 4]

In [117]:
# Create a string of characters
name ="Alice"
# Print the string
print(name) # ALice
# Try to change the first character to "B'
name[0] ="B"
# Print the string again
print(name) # TypeError: 'str' object does not support item assignment

Alice

TypeError: 'str' object does not support item assignment

# Basic data types

## Numeric Type
Numeric type objects represent number values. They are divided into three subgroups:

+ Integers
+ Floating Point Numbers
+ Complex Numbers

### Integers
Integer values belong to the int class. Specifically, integers represent positive or negative whole numbers without a decimal.

In [118]:
x = 3
print(type(x))

<class 'int'>

In [119]:
print(x)

3

In [120]:
print(x + 1)

4

In [121]:
print(x - 1)

2

In [122]:
print(x * 2) 
print(x ** 2)

6
9

In [123]:
x += 1
print(x)

4

In [124]:
x *= 2
print(x)

8

In [125]:
# Performing arithmetic operations with integers
addition = 10 + 5
subtraction = 10 - 5 
multiplication = 10 * 5 
division = 10 / 5       #(Note: this returns a float)
modulo = 10 % 5         #(remainder of division)
exponentiation = 10 ** 5 #(10 to the power of 5)
floor_division = 10 // 5 # (integer part of division)
print(addition, subtraction, multiplication, division, modulo, exponentiation, floor_division)

15 5 50 2.0 0 100000 2

### Floating-Point Numbers
Floating-point numbers in Python are numbers defined with a decimal point. The class type is float.

In [126]:
y = 2.5
print(type(y)) 
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

In [127]:
x = 3.1415926
round(x,2)

3.14

In [128]:
# Creating a float with a decimal point 
pi = 3.14 
print(pi) #3.14 

# Creating a float with an exponent notation 
speed_of_light = 3e8 
print(speed_of_light) #300000000.0 

# Performing arithmetic operations with floats 
addition = pi + speed_of_light #300000003.14 
subtraction = pi - speed_of_light #-299999996.86 
multiplication = pi * speed_of_light #942477796076937.6 
division = pi / speed_of_light #1.0466666666666666e-08 
modulo = pi % speed_of_light #3.14 (remainder of division) 
floor_division = pi // speed_of_light #0.0 (integer part of division) 

print(addition, subtraction, multiplication, division, modulo, floor_division)

3.14
300000000.0
300000003.14 -299999996.86 942000000.0 1.0466666666666668e-08 3.14 0.0

## Booleans
With Boolean, there two possible values True or False which are meant to represent the real values of logic.
Both T and F must be capitalized for correct identification by the python interpreter.

In [129]:
t = True
f = False
print(type(t)) # Prints "<class 'bool'>"

<class 'bool'>

In [130]:
print(t and f) # Logical AND; prints "False"

False

In [131]:
print(t or f) # Logical OR; prints "True"

True

In [132]:
print(not t) # Logical NOT; prints "False"

False

In [133]:
print(t != f) # Logical XOR; prints "True"

True

## Strings
Strings are a sequence of bytes representing Unicode characters. The string type in Python is called str.

In [134]:
hello = 'hello' # String literals can use single quotes
world = "world" # or double quotes; it does not matter.

In [135]:
print(hello) # Prints "hello"
print(len(hello)) # String length; prints "5"

hello
5

In [136]:
hw = hello + ' ' + world # String concatenation
print(hw) # prints "hello world"

hello world

In [137]:
hw12 = f'{hello} {world} {12}!'
print(hw12) # prints "hello world 12"

hello world 12!

In [138]:
hw12 = '%s %s %d' % (hello, world, 12) # sprintf style string formatting
print(hw12) # prints "hello world 12"

hello world 12

String objects have a bunch of useful methods; for example:

In [139]:
s = "hello"
print(s.capitalize()) # Capitalize a string; prints "Hello"

Hello

In [140]:
print(s.upper()) # Convert a string to uppercase; prints "HELLO"

HELLO

In [141]:
print(s.rjust(7)) # Right-justify a string, padding with spaces;

  hello

In [142]:
print(s.center(7)) # Center a string, padding with spaces;

 hello

In [143]:
print(s.replace('l', '(ell)')) # Replace all instances of one substring

he(ell)(ell)o

In [144]:
print(' world '.strip()) # Strip leading and trailing whitespace; prints

world

###### Access elements of a string

To access parts of a string, use string slicing. Access the first element at index 0. Counting backward starting from -1 accesses the end of a sequence.

In [145]:
s = "phoenixNap"
print(s[0], s[2], s[-1])

p o p

In [146]:
print(s[0:7])
print(s[-3:])

phoenix
Nap

In [147]:
s = 'ABCDEFGHI'
print(s[0],s[-1],s[7])
print(s[2:7])

A I H
CDEFG

In [148]:
s = 'ABCDEFGHI'
print(s[:7])
print(s[3:])

ABCDEFG
DEFGHI

In [149]:
s = 'ABCDEFGHI'
print(s[-1::-1])
print(s[::-1])

IHGFEDCBA
IHGFEDCBA

Since strings are arrays, you can loop through all the characters by using a for loop:

In [150]:
for letter in s:
     print(letter,end='|')

A|B|C|D|E|F|G|H|I|

Looping through a string
The code prints all letters of a string one by one.

###### Suppressing Special Character Meaning

Specifying a backslash in front of the quote character in a string “escapes” it and causes Python to suppress its usual special meaning. It is then interpreted simply as a literal single quote character:

In [151]:
print('This string contains a single quote (\') character.')

This string contains a single quote (') character.

The same works in a string delimited by double quotes as well:

In [152]:
print("This string contains a double quote (\") character.")

This string contains a double quote (") character.

In [153]:
s = 'what's your name?'
print(s)

SyntaxError: unterminated string literal (detected at line 1) (2247396347.py, line 1)

In [154]:
s = 'what\'s your name?'
print(s)

what's your name?

This string contains a double quote (") character.

The following is a table of escape sequences which cause Python to suppress the usual special interpretation of a character in a string:

<table class="table table-hover">
<thead>
<tr>
<th>Escape<br>Sequence</th>
<th>Usual Interpretation of<br>Character(s) After Backslash</th>
<th>“Escaped” Interpretation</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\'</code></td>
<td>Terminates string with single quote opening delimiter</td>
<td>Literal single quote (<code>'</code>) character</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>Terminates string with double quote opening delimiter</td>
<td>Literal double quote (<code>"</code>) character</td>
</tr>
<tr>
<td><code>\&lt;newline&gt;</code></td>
<td>Terminates input line</td>
<td><a href="https://stackoverflow.com/questions/48693600/what-does-the-newline-escape-sequence-mean-in-python">Newline is ignored</a></td>
</tr>
<tr>
<td><code>\\</code></td>
<td>Introduces escape sequence</td>
<td>Literal backslash (<code>\</code>) character</td>
</tr>
</tbody>
</table>

To break up a string over more than one line, include a backslash before each newline, and the newlines will be ignored:

In [155]:
print('a\
b\
c')

abc

In [156]:
print("C:\\Users\\Pat\\Desktop")

C:\Users\Pat\Desktop

To include a literal backslash in a string, escape it with a backslash:

In [157]:
print('foo\\bar')

foo\bar

###### Applying Special Meaning to Characters

In [158]:
print('foo\tbar')

foo	bar

The escape sequence `\t` causes the t character to lose its usual meaning, that of a literal t. Instead, the combination is interpreted as a tab character.

Here is a list of escape sequences that cause Python to apply special meaning instead of interpreting literally:

<table class="table table-hover">
<thead>
<tr>
<th>Escape Sequence</th>
<th>“Escaped” Interpretation</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\a</code></td>
<td>ASCII Bell (<code>BEL</code>) character</td>
</tr>
<tr>
<td><code>\b</code></td>
<td>ASCII Backspace (<code>BS</code>) character</td>
</tr>
<tr>
<td><code>\f</code></td>
<td>ASCII Formfeed (<code>FF</code>) character</td>
</tr>
<tr>
<td><code>\n</code></td>
<td>ASCII Linefeed (<code>LF</code>) character</td>
</tr>
<tr>
<td><code>\N{&lt;name&gt;}</code></td>
<td>Character from Unicode database with given <code>&lt;name&gt;</code></td>
</tr>
<tr>
<td><code>\r</code></td>
<td>ASCII Carriage Return (<code>CR</code>) character</td>
</tr>
<tr>
<td><code>\t</code></td>
<td>ASCII Horizontal Tab (<code>TAB</code>) character</td>
</tr>
<tr>
<td><code>\uxxxx</code></td>
<td>Unicode character with 16-bit hex value <code>xxxx</code></td>
</tr>
<tr>
<td><code>\Uxxxxxxxx</code></td>
<td>Unicode character with 32-bit hex value <code>xxxxxxxx</code></td>
</tr>
<tr>
<td><code>\v</code></td>
<td>ASCII Vertical Tab (<code>VT</code>) character</td>
</tr>
<tr>
<td><code>\ooo</code></td>
<td>Character with octal value <code>ooo</code></td>
</tr>
<tr>
<td><code>\xhh</code></td>
<td>Character with hex value <code>hh</code></td>
</tr>
</tbody>
</table>

In [159]:
print("a\a\f123\b")

a123

In [160]:
print("a\tb")

a	b

In [161]:
print("a\141\x61")

aaa

In [162]:
print("a\nb")

a
b

In [163]:
print('\u2192 \N{rightwards arrow}')

→ →

###### Raw Strings
A raw string literal is preceded by r or R, which specifies that escape sequences in the associated string are not translated. The backslash character is left in the string:

In [164]:
print('foo\nbar')

foo
bar

In [165]:
print(r'foo\nbar')

foo\nbar

In [166]:
print('foo\\bar')

foo\bar

In [167]:
print(R'foo\\bar')

foo\\bar

In [168]:
print(r"Dear Backslashes \, You don't need to be escaped in raw strings.")

Dear Backslashes \, You don't need to be escaped in raw strings.

###### Triple-Quoted Strings

In [169]:
strx = '''This is a multiline string
with 'single', "double" and """triple-double""" quotes
delimited with triple single quotes'''

strx

'This is a multiline string\nwith \'single\', "double" and """triple-double""" quotes\ndelimited with triple single quotes'

In [170]:
print("""'This is a multiline string
with 'single', "double" and ```triple single``` quotes
delimited with triple double quotes'""")

'This is a multiline string
with 'single', "double" and ```triple single``` quotes
delimited with triple double quotes'

###### F-string

In [171]:
name = "Fred"
age = 16

f"He said his name is {name}, he is {age} years old."

'He said his name is Fred, he is 16 years old.'

In [172]:
name = "Fred"
f"He said his name is {name!r}."

"He said his name is 'Fred'."

In [173]:
f"He said his name is {repr(name)}."  # repr() is equivalent to !r

"He said his name is 'Fred'."

In [174]:
width = 10
precision = 4
value = 12.34567
f"result: {value:{width}.{precision}}"  # nested fields

'result:      12.35'

In [175]:
width = 10
precision = 4
value = 102.34567
f"result: {value:{width}.{precision}}"  # nested fields

'result:      102.3'

In [176]:
width = 10
precision = 4
value = 12.34567
f"result: {value:{width}.{precision}f}"  # nested fields

'result:    12.3457'

for more f-string, please refer to: https://fstring.help/cheat/

In [177]:
from datetime import datetime
today = datetime(year=2017, month=1, day=27)
print(today)
f"{today:%B %d, %Y}"  # using date format specifier

2017-01-27 00:00:00

'January 27, 2017'

In [178]:
f"{today=:%B %d, %Y}" # using date format specifier and debugging

'today=January 27, 2017'

In [179]:
number = 1024
f"{number:#0x}"  # using integer format specifier

'0x400'

In [180]:
foo = "bar"
f"{ foo = }" # preserves whitespace

" foo = 'bar'"

In [181]:
line = "The mill's closed"
f"{line = }"

'line = "The mill\'s closed"'

# Python Containers

## List: Mutable Dynamic Arrays

In [182]:
# Creating a list of numbers
numbers = [1, 2, 3, 4, 5]
print(numbers) # [1, 2, 3, 4, 5]

# Creating a list of strings
fruits = ["apple", "banana", "cherry"]
print(fruits) # ["apple", "banana", "cherry"]

# Creating a list of mixed types
mixed = [True, 3.14, "hello", None]
print(mixed) # [True, 3.14, "hello", None]

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[True, 3.14, 'hello', None]

In [183]:
# A nested list
l3 = [[1, 2], [3, 4], [5, 6]]
l3

[[1, 2], [3, 4], [5, 6]]

In [184]:
# A heterogeneous list
l4 = [1, "a", True, [2, "b"]]
l4

[1, 'a', True, [2, 'b']]

In [185]:
# A list of lists representing a data set of people
data = [
    ["Alice", 25, True, 1.65, 55],
    ["Bob", 30, False, 1.75, 70],
    ["Charlie", 28, True, 1.8, 80],
    ["David", 32, False, 1.7, 65]
]

# Access the name of the first person
print(data[0][0]) # output: Alice

# Access the height of the third person
print(data[2][3]) # output: 1.8

Alice
1.8

In [186]:
# A list of numbers representing the scores of a test
scores = [80, 90, 75, 85, 95]

# Calculate the sum of all scores
print(sum(scores)) # output: 425

# Calculate the average of all scores
print(sum(scores) / len(scores)) # output: 85.0

# Sort the scores in ascending order
scores.sort()
print(scores) # output: [75, 80, 85, 90, 95]

425
85.0
[75, 80, 85, 90, 95]

In [187]:
# A list of words representing the names of fruits
fruits = ["apple", "banana", "cherry", "orange", "pear"]

# Count the number of fruits that start with "a"
count = 0
for fruit in fruits:
    if fruit.startswith("a"):
        count += 1
print(count) # output: 1

1

In [188]:
# Join the fruits with a comma
print(", ".join(fruits)) # output: apple, banana, cherry, orange, pear

apple, banana, cherry, orange, pear

In [189]:
# Reverse the order of the fruits
fruits.reverse()
print(fruits) # output: ['pear', 'orange', 'cherry', 'banana', 'apple']

['pear', 'orange', 'cherry', 'banana', 'apple']

In [190]:
# Creating a list of numbers
numbers = [1, 2, 3, 4, 5]
print(numbers) # [1, 2, 3, 4, 5]

# Creating a list of strings
fruits = ["apple", "banana", "cherry"]
print(fruits) # ["apple", "banana", "cherry"]

# Creating a list of mixed types
mixed = [True, 3.14, "hello", None]
print(mixed) # [True, 3.14, "hello", None]

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[True, 3.14, 'hello', None]

In [191]:
# Accessing elements by index
print(numbers[0]) # 1
print(fruits[1]) # banana
print(mixed[-1]) # None

1
banana
None

In [192]:
# Modifying elements by index
numbers[0] = 10
fruits[1] = "blueberry"
mixed[-1] = "world"
print(numbers) # [10, 2, 3, 4, 5]
print(fruits) # ["apple", "blueberry", "cherry"]
print(mixed) # [True, 3.14, "hello", "world"]

[10, 2, 3, 4, 5]
['apple', 'blueberry', 'cherry']
[True, 3.14, 'hello', 'world']

In [193]:
# Adding elements by append or extend methods
numbers.append(6) # Add one element at the end
fruits.extend(["orange", "grape"]) # Add multiple elements at the end
mixed.insert(0, False) # Insert one element at a given position
print(numbers) # [10, 2, 3, 4, 5, 6]
print(fruits) # ["apple", "blueberry", "cherry", "orange", "grape"]
print(mixed) # [False, True, 3.14, "hello", "world"]

[10, 2, 3, 4, 5, 6]
['apple', 'blueberry', 'cherry', 'orange', 'grape']
[False, True, 3.14, 'hello', 'world']

In [194]:
# Removing elements by pop or remove methods
numbers.pop() # Remove and return the last element
fruits.remove("apple") # Remove the first occurrence of an element
mixed.pop(0) # Remove and return the element at a given position
print(numbers) # [10, 2, 3, 4, 5]
print(fruits) # ["blueberry", "cherry", "orange", "grape"]
print(mixed) # [True, 3.14, "hello", "world"]

[10, 2, 3, 4, 5]
['blueberry', 'cherry', 'orange', 'grape']
[True, 3.14, 'hello', 'world']

<b>Loops:</b> You can loop over the elements of a list like this:

In [195]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)
# Prints "cat", "dog", "monkey", each on its own line.

cat
dog
monkey

<b> List comprehensions: </b> When programming, frequently we want to transform one type of
data into another. As a simple example, consider the following code that computes square
numbers:

In [196]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares) 
# Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

You can make this code simpler using a List comprehensions:

In [197]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares) 
# Prints [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

List comprehensions can also contain conditions:

In [198]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

In [199]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [200]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### List Excercises

In [201]:
List = [100,37,66,92,7]
print(f"Before swapping: {List}")

size = len(List)
# Swapping
temp = List[0]
List[0] = List[size - 1]
List[size - 1] = temp

print(f"After swapping:  {List}")

Before swapping: [100, 37, 66, 92, 7]
After swapping:  [7, 37, 66, 92, 100]

In [202]:
List = [100,37,66,92,7]
print(f"Before swapping: {List}")

List[0], List[-1] = List[-1], List[0]
print(f"After swapping:  {List}")

Before swapping: [100, 37, 66, 92, 7]
After swapping:  [7, 37, 66, 92, 100]

In [203]:
List = [100,37,66,92,7]
print(f"Before swapping: {List}")

first = List.pop(0)  
last = List.pop(-1)
print(f"After pop:       {List}")

List.insert(0, last) 
List.append(first) 
print(f"After insert and append:  {List}")

Before swapping: [100, 37, 66, 92, 7]
After pop:       [37, 66, 92]
After insert and append:  [7, 37, 66, 92, 100]

In [204]:
List = [100,37,66,92,7]
print(f"Before swapping: {List}")

List = List[-1:] + List[1:-1] + List[:1]
print(f"After swapping:  {List}")

Before swapping: [100, 37, 66, 92, 7]
After swapping:  [7, 37, 66, 92, 100]

In [205]:
List = [100,37,66,92,7]
List.sort()
 
# printing the first element
print("Smallest element is:", List[0])

Smallest element is: 7

In [206]:
List = [100,37,66,92,7]
 
# printing the first element
print("Smallest element is:", min(List))

Smallest element is: 7

In [207]:
List1 = [100,37,66,92,7]
List2 = List1

print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)

print(f"\nList1:{List1},   List2:{List2}")

List1:[100, 37, 66, 92, 7],   List2:[100, 37, 66, 92, 7]

List1:[100, 37, 66, 92, 7, 666],   List2:[100, 37, 66, 92, 7, 666]

In [208]:
List1 = [100,37,66,92,7]
List2 = List1[:]

print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)

print(f"\nList1:{List1},   List2:{List2}")

List1:[100, 37, 66, 92, 7],   List2:[100, 37, 66, 92, 7]

List1:[100, 37, 66, 92, 7, 666],   List2:[100, 37, 66, 92, 7]

In [209]:
List1 = [100,37,66,92,7]
List2 = []
List2.extend(List1)
    
print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)

print(f"\nList1:{List1},   List2:{List2}")

List1:[100, 37, 66, 92, 7],   List2:[100, 37, 66, 92, 7]

List1:[100, 37, 66, 92, 7, 666],   List2:[100, 37, 66, 92, 7]

In [210]:
import copy
   
List1 = [100,37,66,92,7]
List2 = copy.copy(List1)
    
print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)

print(f"\nList1:{List1},   List2:{List2}")

List1:[100, 37, 66, 92, 7],   List2:[100, 37, 66, 92, 7]

List1:[100, 37, 66, 92, 7, 666],   List2:[100, 37, 66, 92, 7]

In [211]:
import copy
   
List1 = [100,37,66,92,7]
List2 = copy.deepcopy(List1)
    
print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)

print(f"\nList1:{List1},   List2:{List2}")

List1:[100, 37, 66, 92, 7],   List2:[100, 37, 66, 92, 7]

List1:[100, 37, 66, 92, 7, 666],   List2:[100, 37, 66, 92, 7]

In [212]:
import copy
   
List1 = [100,[123,321,1234567],66,92,7]
List2 = copy.copy(List1)
    
print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)
print(f"\nList1:{List1},   List2:{List2}")

List1[1].append(7654321)
print(f"\nList1:{List1}, \nList2:{List2}")

List1:[100, [123, 321, 1234567], 66, 92, 7],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567], 66, 92, 7, 666],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567, 7654321], 66, 92, 7, 666],
List2:[100, [123, 321, 1234567, 7654321], 66, 92, 7]

In [213]:
import copy
   
List1 = [100,[123,321,1234567],66,92,7]
List2 = copy.deepcopy(List1)
    
print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)
print(f"\nList1:{List1},   List2:{List2}")

List1[1].append(7654321)
print(f"\nList1:{List1}, \nList2:{List2}")

List1:[100, [123, 321, 1234567], 66, 92, 7],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567], 66, 92, 7, 666],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567, 7654321], 66, 92, 7, 666],
List2:[100, [123, 321, 1234567], 66, 92, 7]

In [214]:
  
List1 = [100,[123,321,1234567],66,92,7]
List2 = List1[:]
    
print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)
print(f"\nList1:{List1},   List2:{List2}")

List1[1].append(7654321)
print(f"\nList1:{List1}, \nList2:{List2}")

List1:[100, [123, 321, 1234567], 66, 92, 7],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567], 66, 92, 7, 666],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567, 7654321], 66, 92, 7, 666],
List2:[100, [123, 321, 1234567, 7654321], 66, 92, 7]

In [215]:
List1 = [100,[123,321,1234567],66,92,7]
List2 = List1.copy()
    
print(f"\nList1:{List1},   List2:{List2}")

List1.append(666)
print(f"\nList1:{List1},   List2:{List2}")

List1[1].append(7654321)
print(f"\nList1:{List1}, \nList2:{List2}")

List1:[100, [123, 321, 1234567], 66, 92, 7],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567], 66, 92, 7, 666],   List2:[100, [123, 321, 1234567], 66, 92, 7]

List1:[100, [123, 321, 1234567, 7654321], 66, 92, 7, 666],
List2:[100, [123, 321, 1234567, 7654321], 66, 92, 7]

## Tuple: Immutable Containers

In [216]:
# Creating a tuple of numbers
numbers = (1, 2, 3)
print(numbers) # (1, 2 ,3)

# Creating a tuple of strings
fruits = ("apple", "banana", "cherry")
print(fruits) # ("apple", "banana", "cherry")

# Creating a tuple of mixed types
mixed = (True, 3.14 , "hello")
print(mixed) # (True ,3.14 , "hello")

(1, 2, 3)
('apple', 'banana', 'cherry')
(True, 3.14, 'hello')

A tuple is immutable , which means you can't change its elements after creating it. You can only access elements from a tuple by using index or slice operators . For example:

In [217]:
# Accessing elements by index 
print(numbers[0]) # 1 
print(fruits[1]) # banana 
print(mixed[-1]) # hello 

# Accessing elements by slice 
print(numbers[0:2]) # (1 ,2) 
print(fruits[:2]) # ("apple" ,"banana") 
print(mixed[1:]) # (3.14 ,"hello")

1
banana
hello
(1, 2)
('apple', 'banana')
(3.14, 'hello')

You can't modify , add , or remove elements from a tuple because it is immutable . If you try to do that , Python will get angry and throw an error . For example:

In [218]:
# Trying to modify an element 
numbers[0] = 10 # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [219]:
# Trying to add an element 
fruits.append("orange") # AttributeError: 'tuple' object has no attribute 'append'

AttributeError: 'tuple' object has no attribute 'append'

In [220]:
# Trying to remove an element 
mixed.remove(True) # AttributeError: 'tuple' object has no attribute 'remove'

AttributeError: 'tuple' object has no attribute 'remove'

Memory efficiency

In [221]:
import sys

list1 = [100,37,66,92,7]
tuple1 = (100,37,66,92,7)
print('The list size:', sys.getsizeof(list1), 'bytes')
print('The tuple size:', sys.getsizeof(tuple1), 'bytes')

The list size: 104 bytes
The tuple size: 80 bytes

In [222]:
z = 3, 4

In [223]:
type(z)

tuple

tuples can contain mutable elements such as lists

In [224]:
tuple1 = ([10,20], ['Hello', 'World'])
print(tuple1)

tuple1 [0][0] = 99
tuple1 [1][1] = 'Kitty'

print(tuple1)

([10, 20], ['Hello', 'World'])
([99, 20], ['Hello', 'Kitty'])

In [225]:
tuple_1 = (1, 2)
tuple_2 = (3, 4)
tuple_3 = tuple_1 + tuple_2

print(tuple_3)

(1, 2, 3, 4)

zip

In [226]:
first_names = ('Simon', 'Sarah', 'Mike')
last_names = ('Law', 'Lee', 'Smith')
ages = (19, 25, 29)

zipped = zip(first_names, last_names,ages)
print(zipped)

<zip object at 0x000002DDAB742000>

In [227]:
employee = tuple(zipped)
print(employee)

(('Simon', 'Law', 19), ('Sarah', 'Lee', 25), ('Mike', 'Smith', 29))

In [228]:
first_names = ('Simon', 'Sarah', 'Mike')
last_names = ('Law', 'Lee', 'Smith')
ages = (19, 25, 29)

zipped = zip(first_names, last_names,ages)
print(zipped)

<zip object at 0x000002DDAD2F2600>

In [229]:
employee_l = list(zipped)
print(employee_l)

[('Simon', 'Law', 19), ('Sarah', 'Lee', 25), ('Mike', 'Smith', 29)]

In [230]:
tuple1 =  ('Sarah', 'Lee', 25)

first_name, last_name, age = tuple1

print(f"{first_name}, {last_name}, {age} years old")

Sarah, Lee, 25 years old

tuple copy

In [231]:
a = (1, 2, 3)
b = a
c = a[:]

In [232]:
id(a)

3151117374656

In [233]:
id(b)

3151117374656

In [234]:
id(c)

3151117374656

In [235]:
a = [1, 2, 3]
b = a
c = a[:]

In [236]:
id(a)

3151116698112

In [237]:
id(b)

3151116698112

In [238]:
id(c)

3151116575872

Functions that return multiple values

In [239]:
def count_sum(l):
   count = len(l)
   total = sum(l)
   return count, total

In [240]:
count_sum([1,2,3,4])

(4, 10)


## Set: Unordered Collections of Unique Elements

In [241]:
# Creating a set of numbers
numbers = {1, 2, 3, 4, 5}
print(numbers) # {1, 2, 3, 4, 5}

# Creating a set of strings
fruits = {"apple", "banana", "cherry"}
print(fruits) # {"apple", "banana", "cherry"}

# Creating a set of mixed types
mixed = {True, 3.14, "hello"}
print(mixed) # {True, 3.14, "hello"}

{1, 2, 3, 4, 5}
{'apple', 'cherry', 'banana'}
{'hello', True, 3.14}

In [242]:
# Adding an element to a set
numbers.add(6)
print(numbers) # {1, 2, 3, 4, 5, 6}

# Removing an element from a set
fruits.remove("apple")
print(fruits) # {"banana", "cherry"}

{1, 2, 3, 4, 5, 6}
{'cherry', 'banana'}

In [243]:
# Trying to access an element by index
print(numbers[0]) # TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [244]:
# Trying to access an element by slice
print(fruits[:2]) # TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [245]:
# Trying to create a set with duplicate elements
duplicates = {1, 2, 3, 3, 4, 4}
print(duplicates) # {1, 2, 3 ,4}

{1, 2, 3, 4}

In [246]:
x = set()
print(x)
print(type(x))

set()
<class 'set'>

In [247]:
x = set(['Hello', 'World', 'Kitty'])
x

{'Hello', 'Kitty', 'World'}

In [248]:
x1 = {'apple', 'orange', 'mango'}
x2 = {'banana', 'pear', 'mango'}
x3 = x1 | x2

x3

{'apple', 'banana', 'mango', 'orange', 'pear'}

In [249]:
x4 = x1.union(x2)
x4

{'apple', 'banana', 'mango', 'orange', 'pear'}

In [250]:
x1 = {'apple', 'orange', 'mango'}
x2 = {'banana', 'pear', 'mango'}
x3 = x1 & x2

x3

{'mango'}

In [251]:
x4 = x1.intersection(x2)
x4

{'mango'}

In [252]:
x1 = {'apple', 'orange', 'mango'}
x2 = {'banana', 'pear', 'mango'}
x3 = x1 - x2

x3

{'apple', 'orange'}

In [253]:
x4 = x1.difference(x2)
x4

{'apple', 'orange'}

In [254]:
x1 = {'apple', 'orange', 'mango'}
x2 = {'banana', 'pear', 'mango'}
x3 = {'mango'}

print(x2 <= x1)
print(x3 <= x1)

False
True

In [255]:
print(x2.issubset(x1))
print(x3.issubset(x1))

False
True

find common elements in three lists using sets

In [256]:
list1 = ['apple', 'orange', 'mango','pear',]
list2 = ['banana', 'pear', 'mango','watermelon']
list3 = ['mango','blueberry','grape','pear',]

In [257]:
s1 = set(list1)
s2 = set(list2)
s3 = set(list3)

set1 = s1.intersection(s2)          
result_set = set1.intersection(s3)

final_list = list(result_set)
print(final_list)

['pear', 'mango']

In [258]:
list1 = ['apple', 'orange', 'mango','pear',]
list2 = ['banana', 'pear', 'mango','watermelon']
list3 = ['mango','blueberry','grape','pear',]

In [259]:
s1 = set(list1)
s2 = set(list2)
s3 = set(list3)

final_list = [elem for elem in s1 if elem in s2 and elem in s3]
print(final_list)

['pear', 'mango']

In [260]:
set1 = {'apple', 'orange', 'mango','pear'}

"apple" in set1

True

In [261]:
"banana" in set1

False

## Dictionary: Unordered Collections of Key-Value Pairs

In [262]:
mydict = dict()
print(mydict)
print(type(mydict))

{}
<class 'dict'>

In [263]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(len(thisdict))

{'name': 'John', 'age': 36, 'country': 'Norway'}
3

In [264]:
thatlist = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
thatlist

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [265]:
# Creating a dictionary of numbers
numbers = {1: "one", 2: "two", 3: "three"}
print(numbers)  

# Creating a dictionary of strings
fruits = {"apple": "red", "banana": "yellow", "cherry": "red"}
print(fruits)  

# Creating a dictionary of mixed types
mixed = {True: [1 ,2 ,3], 3.14: (4 ,5 ,6), "hello": {"world": "!"}}
print(mixed)

{1: 'one', 2: 'two', 3: 'three'}
{'apple': 'red', 'banana': 'yellow', 'cherry': 'red'}
{True: [1, 2, 3], 3.14: (4, 5, 6), 'hello': {'world': '!'}}

In [266]:
# Adding key-value pairs by square brackets 
numbers[4] = "four" 
print(numbers) 

# Adding key-value pairs by update method 
fruits.update({"orange": "orange" ,"grape": "purple"}) 
print(fruits)  

# Removing key-value pairs by del statement 
del numbers[4] 
print(numbers)  

# Removing key-value pairs by pop method 
fruits.pop("apple") 
print(fruits)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange', 'grape': 'purple'}
{1: 'one', 2: 'two', 3: 'three'}
{'banana': 'yellow', 'cherry': 'red', 'orange': 'orange', 'grape': 'purple'}

In [267]:
# Accessing values by keys with square brackets 
print(numbers[1]) # one 
print(fruits["banana"]) # yellow 
print(mixed["hello"]) # {"world": "!"} 

# Accessing values by keys with get method 
print(numbers.get(1)) # one 
print(fruits.get("banana")) # yellow 
print(mixed.get("hello")) # {"world": "!"}

one
yellow
{'world': '!'}
one
yellow
{'world': '!'}

In [268]:
duplicates = {1: "one" ,2: "two" ,3: "three" ,2: "four"} 
print(duplicates) # {1: one ,2: four ,3: three}

{1: 'one', 2: 'four', 3: 'three'}

In [269]:
y = {x: x**2 for x in (2, 4, 6)}
y

{2: 4, 4: 16, 6: 36}

In [270]:
mydict = dict()
print(mydict)
print(type(mydict))

{}
<class 'dict'>

In [271]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(len(thisdict))

{'name': 'John', 'age': 36, 'country': 'Norway'}
3

In [272]:
thatlist = dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
thatlist

{'sape': 4139, 'guido': 4127, 'jack': 4098}

<b>Loops:</b> It is easy to iterate over the keys in a dictionary:

In [273]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print(f'A { animal} has \t {legs} legs')

A person has 	 2 legs
A cat has 	 4 legs
A spider has 	 8 legs

If you want access to keys and their corresponding values, use the items method:

In [274]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print(f'A { animal} has \t {legs} legs')

A person has 	 2 legs
A cat has 	 4 legs
A spider has 	 8 legs

In [275]:
d = {'person': 2, 'cat': 4, 'spider': 8}
x = d.items()

print(x)

dict_items([('person', 2), ('cat', 4), ('spider', 8)])